
/* 通用变量配置*/
$color-main: #00b9bc;
$color-main-hover: #33c7c9;


$color-link: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

$color-title: #303133;
$color-text-primary: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #C0C4CC;

$color-border: #DCDFE6;
$color-background: #F2F6FC;


