html,
body {
    min-width: 1366px;
    height: 100%;
    /* overflow: auto; */
    background-color: #F2F4F5;
}
iframe{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}

a {
    color: inherit;
}

a:hover {
    color: rgba(0, 155, 241, 1);
}

/*欢迎页*/

.welcome-image {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    top: 40px;
    left: 0px;
    z-index: 10px;
}

.welcome-image img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.welcome-image h3 {
    font-size: 40px;
    font-weight: normal;
    color: #aeaeae;
    margin-top: 30px;
    margin-bottom: 30px;
}

.welcome-image p {
    font-size: 16px;
}


/*头部导航*/

.platform-header {
    width: 100%;
    min-width: 1366px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 10);
    background: #009BF1;
    position: fixed;
    top: 0;
    left: 0;
}

.platform-header .tab>li {
    float: left;
    padding-left: 1.464%;
    padding-right: 1.464%;
    margin-right: 0.732%;
    /* width: 7.01%; */
    cursor: pointer;
}

.platform-header .tab li:nth-child(1) {
    width: 202px;
    padding: 0;
    margin: 0;
}

.platform-header .tab li:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 155, 241, 1)
}
.tab-active{
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 155, 241, 11)
}
.sidebar-active{
    color: rgba(0, 155, 241, 1) !important;
}
.platform-header .tab .user-info {
    float: right;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.platform-header .tab .user-info>.user-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 18px;
}

.platform-header .tab .user-info:hover {
    background-color: rgba(71, 85, 102, 1);
}

.platform-header .tab .user-info:hover .personal-info {
    display: block;
}

.platform-header .personal-info {
    display: none;
    width: 110px;
    height: 90px;
    position: absolute;
    top: 40px;
    right: 5px;
    background-color: #fff;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.platform-header .personal-info .icon-triangle-top{
    position: absolute;
    top: -25px;
    right: 15px;
}
.platform-header .personal-info span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #A1A1A1;
    text-align: left;
    padding-left: 11px;
}

.platform-header .personal-info span:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}

.platform-header .personal-info span:nth-child(3) {
    font-size: 16px;
    color: #3f3f3f;
    font-weight: bold;
}

.platform-header .personal-info a {
    display: block;
    width: 90%;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    color: rgba(34, 34, 34, 1);
    text-align: left;
    border-top: 1px solid rgba(218, 223, 226, 1);
    margin-top: 10px;
    padding-left: 11px;
}

.platform-header .personal-info a:hover {
    color: #009BF1;
}


/*-侧边栏-*/

.platform-sidebar {
    display: none;
    width: 166px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 40px;
    border: 1px solid #F2F4F5;
    background-color: #fff;
}
.platform-sidebar .sidebar-wrap{
    display: none;
}
/* 侧边栏 */

.sidebar-wrap {
    margin-top: 14px;
    padding-left: 33px;
}

.sidebar-wrap ul {
    margin-bottom: 35px;
}

.sidebar-wrap ul li {
    font-size: 13px;
    color: rgba(102, 102, 102, 1);
    line-height: 26px;
    cursor: pointer;
}

.sidebar-wrap ul li:first-child {
    font-size: 16px;
    line-height: 14px;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 15px;
    position: relative;
}
.sidebar-wrap ul li:first-child .icon-arrow-left-copy{
    display: none;
    
}
.sidebar-wrap ul li i {
    width: 9px;
    height: 7px;
    font-size: 10px;
    color: rgba(34, 34, 34, 1);
    position: absolute;
    left: -15px;
    top: 0px;
}

.sidebar-wrap .list:hover {
    color: #009BF1;
}

/*内容区域*/

.platform-content {
    float: right;
    width: 87.85%;
    height: 94%;
    background-color: #F2F4F5;
    padding-left: 18px;
    margin-top: 40px;
    display: none;
}

.platform-content .page {
    /* width: 1040px;
    height: 700px;
    background-color: #fff;
    margin: 0 auto; */
    
    /* width: 100%;
    height: 100%; */
    /* background-color: #fff; */
    /* margin: 0 auto; */
}

.platform-content .section-wrap {
    width: 1180px;
    color: rgba(102, 102, 102, 1);
    margin: 10px auto;
    margin-top: 0px;
}