body{
    min-width: 1366px;
    min-height: 768px;
    background-color: #0d3865;
    padding-top: 11.21%;
    font-family: "微软雅黑";
}

input,button{
    font-family: "微软雅黑";
}
.login-wrap{
    width: 26.42%;
    height: 88.78%;
    margin: 0 auto;
}
.login-wrap .login-header{
    width: 280px;
    height: 18px;
    margin: 0 auto;
    margin-bottom: 21.63%;
    color: #fff;
    text-align: center;
}
.login-wrap .login-header .iconfont{
    font-size: 35px;
}
.login-wrap .login-content-title{
    margin-bottom: 40px;
    position: relative;
}
.login-wrap .login-content-title h3{
    width: 112px;
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    font-weight: normal;
    color: #7F9DBC;
    margin: 0 auto;
}
.login-wrap .login-content-title span{
    display: inline-block;
    width: 21px;
    height: 2px;
    background-color: #7F9DBC;
    position: absolute;
    
}
.login-wrap .login-content-title span:nth-child(1){
    left: 87px;
    top: 20px;
}
.login-wrap .login-content-title span:nth-child(3){
    right: 87px;
    top: 20px;
}
.login-wrap .login-content-box{
    position: relative;
}
.login-wrap .login-content-box input{
    width: 75%;
    height: 60px;
    outline:none;  
    border:0px;  
    padding-left: 15%;
    padding-right: 10%;
    position: relative;
}
.login-wrap .login-content-box input:nth-child(1){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #DADFE2;
}
.login-wrap .login-content-box input:nth-child(4){
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.login-wrap .empty{
    display: inline;
    position: absolute;
    top: 25px;
    right: 15px;
	width: 20px;
	height: 20px;
	text-align:center;
    display: none;
	cursor: pointer;
}
.login-wrap .empty:nth-child(5){
    top: 85px;
}
.login-wrap .login-content-box i.account-icon{
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 24px;
}
.login-wrap .login-content-box i.password-icon{
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 22px;
}
.login-wrap .login-content-btn{
    margin-top: 40px;
    margin-bottom: 28.13%;
}
.login-wrap .login-content-btn button{
    width: 100%;
    height: 44px;
    color: #fff;
    font-size: 16px;
    background-color: #009FF9;
    border-radius: 3px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.15);
    border: 0px;
    cursor: pointer;
}
.login-wrap .login-content-btn button:hover{
    background:rgba(0,0,0,0.2);
}
.login-wrap .login-footer{
    color: #7F9DBC;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.login-wrap .login-error{
    padding: 25px 30px;
    background-color: #f60;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -130px;
    /* animation: bounceInDown 1s; */
    display: none;
}
/* 
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: none;
    }
  }
   */