<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>运输调度管理-首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../Scripts/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../Scripts/plugins/layui/style/admin.css" media="all">
    <style type="text/css">
        .clearfix:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .text-roll-box {
            height: 300px;
        }
        .text-roll-box .text-roll-list li{
            padding:5px 0;
        }
        .text-roll-box .text-roll-list li:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .text-roll-box .text-roll-list li .layui-badge{
            float: left;
            margin-top: 2px;
        }

        .text-roll-box .text-roll-list li p {
            line-height: 22px;
            font-size: 12px;
            color: #333333;
            padding-left: 50px;
        }

        .trans-disp-list li {
            width: 240px;
            border: 1px solid #dddddd;
            box-sizing: border-box;
            padding: 15px 15px 5px;
            margin: -1px 0 0 -1px;
            float: left;
        }

        .trans-disp-list li h3 {
            font-size: 16px;
            color: #333333;
            margin-bottom: 10px;
            font-weight: bolder;
        }

        .trans-disp-list li .row {
            font-size: 13px;
            margin: 10px 0;
        }

        .trans-disp-list li .layui-icon {
            float: right;
        }

        .video {
            max-width: 100%;
        }
    </style>
</head>
<body>

<div class="layui-fluid" style="padding-bottom: 50px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">预警信息提示</div>
                <div class="layui-card-body">
                    <div class="text-roll-box">
                        <ul class="text-roll-list">
                            <li>
                                <span class="layui-badge layui-bg-green">提示</span>
                                <p>
                                    <span>预警类型：超时预警；</span>
                                    <span>层级：III级；</span>
                                    <span>来源：A0 装料；</span>
                                    <span>提示：装料超时，请注意！</span>
                                </p>
                            </li>
                            <li>
                                <span class="layui-badge layui-bg-orange">预警</span>
                                <p>
                                    <span>预警类型：设备预警；</span>
                                    <span>层级：II级；</span>
                                    <span>来源：B1 运输车辆；</span>
                                    <span>文字提示：运输车出现故障，请注意！</span>
                                </p>
                            </li>
                            <li>
                                <span class="layui-badge layui-bg-red">紧急</span>
                                <p>
                                    <span>预警类型：设备预警；</span>
                                    <span>层级：II级；</span>
                                    <span>来源：B1 运输车辆；</span>
                                    <span>文字提示：运输车出现故障，请注意！</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">当日运输总量</div>
                <div class="layui-card-body">

                    <ul class="layui-row layui-col-space10 layadmin-backlog">
                        <li class="layui-col-xs4">
                            <div class="layadmin-backlog-body">
                                <h3>浇筑体积</h3>
                                <p><cite>66m³</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs4">
                            <div class="layadmin-backlog-body">
                                <h3>浇筑隔仓数</h3>
                                <p><cite>15个</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs4">
                            <div class="layadmin-backlog-body">
                                <h3>已完成运输</h3>
                                <p><cite>15个</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs4">
                            <div class="layadmin-backlog-body">
                                <h3>在运车辆</h3>
                                <p><cite>20辆</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs4">
                            <div class="layadmin-backlog-body">
                                <h3>平均单次运输时间</h3>
                                <p><cite>15min</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs4">
                            <div class="layadmin-backlog-body">
                                <h3>预计运输完成时间</h3>
                                <p><cite>30h</cite></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-card-header">车辆实时状态</div>
                <div class="layui-card-body">
                    <ul class="trans-disp-list clearfix">
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>车辆标识：ISFDKJ1</h3>
                            <p class="row">所在位置：车辆到达拌合站</p>
                            <p class="row">
                                <span>车辆状态：</span>
                                <span class="layui-badge layui-bg-green">正常</span>
                            </p>
                        </li>
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>车辆标识：ISFDKJ2</h3>
                            <p class="row">所在位置：车辆到达拌合站</p>
                            <p class="row">
                                <span>车辆状态：</span>
                                <span class="layui-badge layui-bg-orange">暂停</span>
                            </p>
                        </li>
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>车辆标识：ISFDKJ3</h3>
                            <p class="row">所在位置：车辆到达拌合站</p>
                            <p class="row">
                                <span>车辆状态：</span>
                                <span class="layui-badge layui-bg-red">停运</span>
                            </p>
                        </li>
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>车辆标识：ISFDKJ4</h3>
                            <p class="row">所在位置：车辆到达拌合站</p>
                            <p class="row">
                                <span>车辆状态：</span>
                                <span class="layui-badge layui-bg-black">故障</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">浇筑点实时状态</div>
                <div class="layui-card-body">
                    <ul class="trans-disp-list clearfix">
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>浇筑点1</h3>
                            <p class="row">
                                <span>状态：</span>
                                <span class="layui-badge layui-bg-green">工作中</span>
                                <span class="layui-badge layui-bg-orange">暂停</span>
                                <span class="layui-badge layui-bg-red">关闭</span>
                            </p>
                        </li>
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>浇筑点1</h3>
                            <p class="row">
                                <span>状态：</span>
                                <span class="layui-badge layui-bg-green">工作中</span>
                            </p>
                        </li>
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>浇筑点1</h3>
                            <p class="row">
                                <span>状态：</span>
                                <span class="layui-badge layui-bg-orange">暂停</span>
                            </p>
                        </li>
                        <li>
                            <a href="" class="layui-icon layui-icon-set-fill"></a>
                            <h3>浇筑点1</h3>
                            <p class="row">
                                <span>状态：</span>
                                <span class="layui-badge layui-bg-red">关闭</span>
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">监控 - 拌合站</div>
                <div class="layui-card-body">
                    <video class="video" src="http://www.myqsl.cn/MM2/mv/myqslmv.mp4" controls></video>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">监控 - 检测站</div>
                <div class="layui-card-body">
                    <video class="video" src="http://www.myqsl.cn/MM2/mv/myqslmv.mp4" controls></video>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">监控 - 浇筑点</div>
                <div class="layui-card-body">
                    <video class="video" src="http://www.myqsl.cn/MM2/mv/myqslmv.mp4" controls></video>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">监控 - 运输路线</div>
                <div class="layui-card-body">
                    <video class="video" src="http://www.myqsl.cn/MM2/mv/myqslmv.mp4" controls></video>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../Scripts/plugins/layui/layui.js"></script>
<script>
    layui.use(['element'])
</script>
</body>
</html>


