
.main-view .box{
    padding-bottom: 30px;
}
.main-view .box .table,
.main-view .box .pagination{
    padding-left: 30px;
    padding-right: 30px;
}

.model-view .content .form{
    margin: 0 auto;
    width: 480px;
}

