<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="telephone=yes,email=yes" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css?v=101">
    <link rel="stylesheet" type="text/css" href="css/index.css?v=1">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="banner">
        <div  id="swiper-banner">
            <div class="swiper-wrapper">
                <div class="img swiper-slide" v-for="item in bannerList" :style="{'background-image':'url('+ imgHost+item +')'}"></div>
            </div>
        </div>
        <div class="logo" v-if="companyInfo.picPath1" :style="{'background-image':'url('+imgHost+companyInfo.picPath1+')'}"></div>
        <div class="num" :class="{'active':collectInfo.iscollect != '0'}" v-if="collectInfo.countentid">{{collectInfo.countentid}}</div>
    </div>

    <div class="header">
            <h3>
                <span>{{companyInfo.entName}}</span>
                <img src="images/header-icon_03.png">
                <img src="images/header-icon_04.png">
            </h3>
            <div class="icon">
                <span v-if="vrUrl"><img src="images/header-icon_10.png">企业VR</span>
                <span v-if="videoList.length>0"><img src="images/header-icon_12.png">企业视频</span>
                <span v-if="bookList.length>0"><img src="images/header-icon_14.png">企业画册</span>
            </div>
        <div class="tags" v-if="tags.length>0">
            <span v-for="item in tags">{{item}}</span>
        </div>
    </div>

    <div class="main">
        <div class="section section1">
            <h3 class="title">
                <p>企业简介</p>
                <a id="company-info" class="more" href="company-info.html">
                    <span>更多</span>
                    <img src="images/section-more_03.png">
                </a>
            </h3>
            <div class="summary">
                <p>{{companyInfo.summary}}</p>
            </div>
        </div>
        <div class="section section1 section1-2">
            <h3 class="title">
                <p>经营范围</p>
            </h3>
            <div class="summary">
                <p>{{companyInfo.entRange}}</p>
            </div>
        </div>
    </div>
    <div class="main" style="padding-bottom: 80px;">

        <div class="section section2" v-if="vrUrl">
            <h3 class="title">
                <p>企业VR</p>
                <a class="more" :href="vrUrl">
                    <span>打开VR</span>
                    <img src="images/section-more_03.png">
                </a>
            </h3>
            <div class="iframe">
                <iframe :src="vrUrl"></iframe>
            </div>
        </div>

        <div class="section section3" v-if="videoList.length>0">
            <h3 class="title"><p>企业视频</p></h3>
            <div class="videos" :class="{'one':videoList.length==1}">
                <video v-for="item in videoList" :src="mvHost+item.filetypeurl" :poster="imgHost+item.filetypeimg" controls="" preload="none"></video>
            </div>
        </div>

        <div class="section section4" v-if="bookList.length>0">
            <h3 class="title"><p>企业画册</p></h3>
            <div class="books" id="book-swiper">
                <div class="swiper-wrapper">
                    <a class="swiper-slide book" href="javascript:;" v-for="item in bookList" @tap="openBook(item)" :style="{'background-image':'url('+imgHost+item.filetypeimg+')'}"></a>
                </div>
            </div>
        </div>


        <div class="section section4-5">
            <h3 class="title">
                <p>分属企业</p>
                <a class="more">
                    <span>更多</span>
                    <img src="images/section-more_03.png">
                </a>
            </h3>
            <ul class="list">
                <li class="clearfix" v-for="item in bookList">
                    <div class="img" :style="{'background-image':'url('+imgHost+item.filetypeimg+')'}"></div>
                    <img class="icon" src="images/header-icon_03.png">
                    <h4>深圳劲嘉新型智能包装有限公司深圳劲嘉新型智能包装有限公司</h4>
                    <p>车队管理软件的开发与销售，车队管理硬、维护、销售与租赁；车辆远程信息处理系统、智能车辆管理信息处出；出理系统的研法与车辆远程信息处理系统、智能车辆管理信息处出；出理系统的研法与车辆远程信息处理系统、智能车辆管理信息处出；出理系统的研法与车辆远程信息处理系统、智能车辆管理信息处出；出理系统的研法与</p>
                </li>
            </ul>

        </div>


        <div class="section section5">
            <h3 class="title"><p>联系方式</p></h3>
            <div class="info">
                <a :href="'tel:'+companyInfo.entPhone">
                    <img src="images/conact-icon_03.png">
                    <span>{{companyInfo.entContact}}</span>
                    <span>{{companyInfo.entPhone}}</span>
                </a>
                <a>
                    <img src="images/conact-icon_04.png">
                    <span>{{companyInfo.entEmail}}</span>
                </a>
                <a :href="companyInfo.entWebsite">
                    <img src="images/conact-icon_05.png">
                    <span>{{companyInfo.entWebsite}}</span>
                </a><a>
                    <img src="images/conact-icon_07.png">
                    <span>{{companyInfo.entAddress}}</span>
                </a>
            </div>
            <div class="map">
                <div id="map"></div>
                <a href="javascript:;" @tap="openMap()">打开导航</a>
            </div>
        </div>

    </div>


    <div class="nav" id="nav">
        <a href="">
            <img src="images/nav-icon-01.png">
            <span>招才纳贤</span>
        </a>
        <a href="culture.html">
            <img src="images/nav-icon-02.png">
            <span>企业文化</span>
        </a>
        <a href="">
            <img src="images/nav-icon-03.png">
            <span>采购信息</span>
        </a>
        <a href="product.html">
            <img src="images/nav-icon-04.png">
            <span>企业产品</span>
        </a>
    </div>

    <div class="loading" v-show="loading"></div>
</div>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/touch.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tvotsotHaVajkyLqUxbHshnSQj5AZ8E2"></script>
<script type="text/javascript" src="js/wechatshare.js"></script>
<script type="text/javascript" src="js/pub.js?v=1"></script>
<script type="text/javascript" src="js/index.js?v=1111111"></script>


</body>
</html>