<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="telephone=yes,email=yes" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css?v=101">
    <link rel="stylesheet" type="text/css" href="css/index.css?v=1">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="banner">
        <div  id="swiper-banner">
            <div class="swiper-wrapper">
                <div class="img swiper-slide" v-for="item in bannerList" :style="{'background-image':'url('+ imgHost+item +')'}"></div>
            </div>
        </div>
        <div class="logo" :style="{'background-image':'url('+imgHost+companyInfo.picPath1+')'}"></div>
        <div class="num" :class="{'active':collectInfo.iscollect != '0'}" v-if="collectInfo.countentid">{{collectInfo.countentid}}</div>
    </div>

    <div class="header">
        <div class="top clearfix">
            <h3>{{companyInfo.entName}}</h3>
            <div class="icon">
                <span>视频</span>
                <span>画册</span>
                <span>VR</span>
            </div>
        </div>
        <div class="tags" v-if="tags.length>0">
            <span v-for="item in tags">{{item}}</span>
        </div>
    </div>

    <div class="main">
        <div class="section section1">
            <h3 class="title">企业简介</h3>
            <div class="summary"  @tap="companyContentShow=true">
                <p>{{companyInfo.summary}}</p>
                <i></i>
            </div>

            <div class="content" v-show="companyContentShow">
                <a class="close" @tap="companyContentShow=false">×</a>
                <div class="text">
                    <h3>企业介绍</h3>
                    <p v-for="item in companyInfo.entDescArr">{{item}}</p>
                </div>
            </div>
        </div>
        <div class="section section1">
            <h3 class="title">经营范围</h3>
            <div class="summary">
                <p style="margin: 0;">{{companyInfo.entRange}}</p>
            </div>
        </div>

        <div class="section section2" v-if="vrUrl">
            <a class="open" :href="vrUrl" target="_blank">打开VR</a>
            <h3 class="title">企业VR</h3>
            <iframe :src="vrUrl"></iframe>
        </div>

        <div class="section section3">
            <h3 class="title">企业视频</h3>
            <div class="videos">
                <video src="http://video.xmrb.com/b6a781289ab649b5b689ea06988504eb/525ea85bb75d429d86a8772f7706736c-54d7debe1cac445a2aadb21c7b90e1e9-ld.mp4" poster="http://video.xmrb.com/b6a781289ab649b5b689ea06988504eb/snapshots/033d486b347346f7b9f99e5384246539-00002.jpg" controls="" preload="none"></video>
                <video src="http://video.xmrb.com/b6a781289ab649b5b689ea06988504eb/525ea85bb75d429d86a8772f7706736c-54d7debe1cac445a2aadb21c7b90e1e9-ld.mp4" poster="http://video.xmrb.com/b6a781289ab649b5b689ea06988504eb/snapshots/033d486b347346f7b9f99e5384246539-00002.jpg" controls="" preload="none"></video>
                <video src="http://video.xmrb.com/b6a781289ab649b5b689ea06988504eb/525ea85bb75d429d86a8772f7706736c-54d7debe1cac445a2aadb21c7b90e1e9-ld.mp4" poster="http://video.xmrb.com/b6a781289ab649b5b689ea06988504eb/snapshots/033d486b347346f7b9f99e5384246539-00002.jpg" controls="" preload="none"></video>
            </div>
        </div>

        <div class="section section4" v-if="bookList.length>0">
            <h3 class="title">企业画册</h3>
            <div class="books">
                <a class="book" href="javascript:;" v-for="item in bookList" @tap="openBook(item)"
                   :style="{'background-image':'url('+item.filetypeimg+')'}"></a>
            </div>

            <div class="book-iframe" v-show="bookDetailShow">
                <a class="close" @tap="bookDetailShow=false">×</a>
                <!--<iframe :src="pdfHost+bookDetail.filetypeurl"></iframe>-->
            </div>
        </div>

        <div class="section section5">
            <h3 class="title">联系方式</h3>
            <div class="info">
                <a class="phone" :href="'tel:'+companyInfo.entPhone"></a>
                <p>{{companyInfo.entPhone}}</p>
                <p>{{companyInfo.entContact}}</p>
                <p>{{companyInfo.entAddress}}</p>
            </div>
            <div class="map">
                <div id="map"></div>
                <a href="javascript:;" @tap="openMap()">打开导航</a>
            </div>
        </div>

    </div>


    <div class="nav" id="nav">
        <a href="">招才纳贤</a>
        <a href="culture.html">企业文化</a>
        <a href="">采购信息</a>
        <a href="product.html">企业产品</a>
    </div>

    <div class="loading" v-show="loading"></div>
</div>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/touch.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tvotsotHaVajkyLqUxbHshnSQj5AZ8E2"></script>
<script type="text/javascript" src="js/pub.js"></script>
<script type="text/javascript" src="js/index.js?v=111111"></script>
</body>
</html>