
.maps{
    position: absolute;
    top:180px;
    left: 210px;
    width: 1500px;
    height: 505px;
    border:2px solid #ffffff;
    background-color: rgba(255,255,255,0.13);
}
.maps .title{
    float: left;
    width: 235px;
    height: 83px;
    background-color: #c64939;
    text-align: center;
    line-height: 83px;
    font-size: 42px;
    color: #FFFFFF;
}
.maps .status{
    float: left;
    color: #ffffff;
    padding:50px 0 0 120px;
    line-height: 30px;
    font-size: 18px;
}
.maps .status span+span{
    margin-left: 50px;
}
.maps .status img{
    vertical-align: middle;
    transform: translateY(-5px);
    margin-left: 8px;
}
.maps .pipeline{
    position: absolute;
    left: 0;
    top:110px;
    width: 100%;
    height: 288px;
    background: url("../images/bengfang-maps_img.png") no-repeat top center;
}
.maps .pipeline .guandao{
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -591px;
    z-index: 2;
}
.maps .pipeline .text{
    color: #ff0056;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 888px;
    top: 135px;
    z-index: 3;
}
.maps .pipeline .fang1{
    position: absolute;
    left: 165px;
    top: 148px;
    transform: translateY(-50%);
}
.maps .pipeline .fang1 .name{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -45px;
    text-align: center;
    font-size: 18px;
    color: #c64939;
    font-weight: bolder;
}
.maps .pipeline .list li{
    position: relative;
    width: 120px;
    height: 20px;
    background: url("../images/guandao3.png") no-repeat right top;
}
.maps .pipeline .list li+li{
    background: url("../images/guandao2.png") no-repeat right bottom;
    height: 83px;
    margin-top: -8px;
}
.maps .pipeline .list li.only-one{
    background: url("../images/guandao4.png") no-repeat right top;
}
.maps .pipeline .list .icon{
    position: absolute;
    left: 25px;
    bottom: -9px;
    display: block;
}
.maps .pipeline .list span{
    position: absolute;
    left: 0;
    right: 12px;
    bottom: 32px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
}
.maps .pipeline .fang2{
    left: auto;
    right: 296px;
    top: 150px;
}
.maps .pipeline .fang2 .list li{
    background: url("../images/guandao7.png") no-repeat right top;
}
.maps .pipeline .fang2 .list li+li{
    background: url("../images/guandao6.png") no-repeat right bottom;
}
.maps .pipeline .fang2 .list li.only-one{
    background: url("../images/guandao4.png") no-repeat right top;
}

.maps .rate{
    position: absolute;
    left: 600px;
    bottom: 50px;
    width: 100%;
}
.maps .rate .item{
    float: left;
}
.maps .rate .item+.item{
    margin-left: 60px;
}
.maps .rate .item>span{
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
    vertical-align: middle;
}
.maps .rate .item .li{
    display: inline-block;
    height: 21px;
    width: 240px;
    border:2px solid #ffffff;
}
.maps .rate .item .li i{
    font-size: 14px;
    line-height: 19px;
    border:1px solid transparent;
    display: block;
    width: 100%;
    height: 21px;
    box-sizing: border-box;
    background-color: #0000ff;
    text-align: center;
    font-style: normal;
}
.maps .rate .item:nth-child(2) .li i{
    background-color: #c64939;
}



.config{
    position: absolute;
    top:750px;
    right: 300px;
    left: 300px;
}
.config .box{
    width: 242px;
    height: 217px;
    float: left;
    margin: 0 26px;
}
.config .box h3{
    font-size: 30px;
    color: #ffffff;
    line-height: 62px;
    padding-left: 32px;
    font-weight: normal;
    margin-bottom: 5px;
}
.config .box p{
    font-size: 16px;
    color: #bbbbbb;
    line-height: 28px;
    padding-left: 48px;
    font-weight: normal;
}
.config .line{
    position: static;
    height: 100%;
    float: left;
}




