<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>== Shiro Components ==</description>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/index.jsp" />
		<property name="filterChainDefinitions">
			<value>
				/admin/toLogin = anon
				/admin/login = anon
				/admin/** = authc
				/page/login.jsp = anon
				/page/** = authc
			</value>
		</property>
	</bean>

	<!-- Realm实现 -->
	<bean id="userRealm" class="com.travel.system.realm.UserRealm">
		<property name="cachingEnabled" value="true"/>
		<property name="authenticationCacheName" value="loginRetryCache"/>
		<property name="credentialsMatcher" ref="credentialsMatcher" />
	</bean>

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="cacheManager" ref="cacheManager"/>
		<property name="realm" ref="userRealm"/>
	</bean>

	<!-- Shiro生命周期处理器-->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher"
		  class="com.travel.system.realm.RetryLimitCredentialsMatcher">
		<constructor-arg index="0" ref="cacheManager"/>
		<constructor-arg index="1" value="5"/>
		<property name="hashAlgorithmName" value="md5"/>
		<property name="hashIterations" value="1"/>
	</bean>

	<!-- 缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
	</bean>


</beans>

