<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.1.xsd">


	<bean id="messageSource"
		  class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n/message"/>
	</bean>

	<!-- 自动扫描(自动注入) controller-->
	<context:component-scan base-package="com.travel.*" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 这个一定得有，注意了，如果其他配置也有需要这个，已经配置了，那不必了 -->
	<mvc:annotation-driven  />

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
	        <list>
	               <ref bean="mappingJacksonHttpMessageConverter" />
	        </list>
	    </property>
	</bean>

	<bean id="mappingJacksonHttpMessageConverter"
	    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	     <property name = "supportedMediaTypes">
			  <list>
			    <bean class="org.springframework.http.MediaType">
			     <constructor-arg index="0" value="text"/>
			     <constructor-arg index="1" value="plain"/>
			     <constructor-arg index="2" value="UTF-8"/>
			    </bean>
			    <bean class="org.springframework.http.MediaType">
			     <constructor-arg index="0" value="*"/>
			     <constructor-arg index="1" value="*"/>
			     <constructor-arg index="2" value="UTF-8"/>
			    </bean>
			    <bean class="org.springframework.http.MediaType">
			     <constructor-arg index="0" value="text"/>
			     <constructor-arg index="1" value="*"/>
			     <constructor-arg index="2" value="UTF-8"/>
			    </bean>
			     <bean class="org.springframework.http.MediaType">
			     <constructor-arg index="0" value="application"/>
			     <constructor-arg index="1" value="json"/>
			     <constructor-arg index="2" value="UTF-8"/>
			    </bean>
			  </list>
		</property>
	</bean>

	<!--===============通用视图解析器 begin===============-->
	<bean id="viewResolverCommon"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/" />
		<property name="suffix" value=".jsp" />
		<!-- 可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑-->
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.InternalResourceView</value>
		</property>
		<property name="order" value="1" />
	</bean>

	<bean id="uploadUtil" class="com.travel.attachment.util.UploadUtil">
	    <property name="attachmentMapper" ref="attachmentMapper"/>  
	</bean>

	<task:annotation-driven scheduler="myScheduler"/>   <!-- 定时器开关-->
	<task:scheduler id="myScheduler" pool-size="5"/>


	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />

</beans>