body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  border: none;
  vertical-align: bottom;
}

input,
button,
textarea {
  outline: none;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
}

ol,
ul,
li,
button {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

body {
  font-family: PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}

html, body {
  width: 100%;
  background-color: #f5f5f5;
}

