.toc-container {
  position: absolute;
  max-width: 148px;
  right: 32px;
  height: calc(100% - 120px);
  overflow-y: auto;
}
.toc-container .toc-list {
  padding-left: 16px;
}
.toc-container .toc-list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toc-container .toc-link {
  font-size: 12px;
  display: inline-block;
  margin: 8px 0;
  text-decoration: none;
}
.toc-container .toc-link:hover {
  color: #1890ff;
}
.toc-container .toc-link::before {
  width: 1px;
  background: #e9e9e9;
  margin-top: -8px;
}
.toc-container .toc-link.is-active-link {
  font-weight: 400;
  color: #1890ff;
}
.toc-container .toc-link.is-active-link::before {
  width: 2px;
  height: 34px;
  background: #1890ff;
}
@media only screen and (max-width: 768px) {
  .toc-container {
    display: none;
  }
}
.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom.animated.slideDown {
  transform: translateY(0);
}
.headroom.animated.headroom.slideUp {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.theme-switching .btn {
  border: none;
  padding: 0;
  margin-left: 16px !important;
  background-color: transparent;
  border-radius: 0;
}
.theme-switching .btn.btn-light {
  opacity: .5;
  border: none !important;
}
.theme-switching .btn:hover {
  opacity: 1;
}
.demos {
  padding-top: 64px;
  padding-bottom: 32px;
  background: #F8FAFE;
}
.demos h5 {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 32px;
  margin-top: 16px;
}
.demos.dark .screenshot-container {
  background: #1f1f1f;
}
.demos .card {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  border: none;
  box-shadow: 0 2px 8px rgba(84, 48, 132, 0.1);
}
.demos .card:hover {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
}
.demos .card .screenshot-container {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 16px 16px 8px 8px;
  display: inline-block;
}
.demos .card-body {
  border-top: 1px solid #EDEEF1;
  padding: 8px;
}
.demos .card-body a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}
.demos .card-body a:hover {
  color: #1890ff;
}
.demos .flex-xl-nowrap {
  margin-top: 32px;
}
.demos .flex-xl-nowrap .col-md-4 {
  margin-bottom: 40px;
}
.demos .header {
  height: 32px;
}


.card {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border: none;
    box-shadow: 0 2px 8px rgba(84, 48, 132, 0.1);
    }

    .card {
        border-radius: 4px;
    }

    .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    }

    .card-hover {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
        box-shadow: 0 12px 24px rgba(84, 48, 132, 0.06);
    }