<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.system.dao.IntervalInfoMapper">

	<insert id="saveIntervalInfo" parameterType="com.travel.system.entity.IntervalInfo">
		insert into t_intervalinfo (title,tel, fax, remark, creator, create_date, modifier, modify_date) values (#{title,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR},now(),#{modifier,jdbcType=VARCHAR}, now())
	</insert>
	
	<update id="updateIntervalInfo" parameterType="com.travel.system.entity.IntervalInfo">
		update t_intervalinfo
		<set>
			modify_date = now(),
			<if test="title != null">
                title = #{title},
            </if>
			<if test="tel != null">
                tel = #{tel},
            </if>
			<if test="fax != null">
                fax = #{fax},
            </if>
			<if test="remark != null">
                remark = #{remark},
            </if>
			<if test="modifier != null">
                modifier = #{modifier},
            </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="getIntervalInfo" parameterType="java.lang.Long" resultType="com.travel.system.entity.IntervalInfo">
		select t.id			 id,
			   t.title       title,
			   t.tel		 tel,
		       t.fax         fax,
		       t.remark      remark,
		       t.creator     creator,
		       t.create_date createdate,
		       t.modifier    modifier,
		       t.modify_date modifydate
		from t_intervalinfo t
		<where>
			1 = 1
			<if test="_parameter != null">
				and t.id = #{_parameter}
			</if>
		</where>
	</select>
	
</mapper>