<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.system.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="com.travel.system.entity.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>

        <result column="is_active" jdbcType="INTEGER" property="isActive"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>

        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, is_active, creator, create_date, modifier, modify_date, description, role_code, role_name
    </sql>

    <select id="getRole" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_role
        where is_active=1
        <if test="null != roleName">
            and role_name=#{roleName}
        </if>
        <if test="null != roleCode">
            and role_code=#{roleCode}
        </if>
        <if test="null != roleId">
            and id=#{roleId}
        </if>
    </select>

    <insert id="addRole" parameterType="com.travel.system.entity.Role" useGeneratedKeys="true" keyProperty="id">
        insert into t_role (is_active, creator, create_date, modifier, modify_date, description, role_code, role_name)
        values (
            1,
            #{creator,jdbcType=VARCHAR},
            now(),
            #{modifier,jdbcType=VARCHAR},
            now(),
            #{description,jdbcType=VARCHAR},
            #{roleCode,jdbcType=VARCHAR},
            #{roleName,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateRole" parameterType="com.travel.system.entity.Role">
        update t_role
        <set>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            modify_date = now()
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteRole" parameterType="java.util.Map" >
        delete from t_role where id = #{roleId}
    </delete>

    <select id="queryAllResourceByRoleId" resultType="com.travel.system.entity.Resource" parameterType="java.lang.Integer">
        select sres.id, sres.is_active isActive, sres.create_date createDate, sres.description, sres.resource_code resourceCode,
               sres.resource_name resourceName, sres.resource_type reseourceType, sres.url_pattern urlPattern
          from t_resource sres, t_role_resource srr
         where sres.id = srr.resource_id
           and srr.role_id = #{roleId,jdbcType=INTEGER}
           and sres.level=3
    </select>

    <select id="queryAllResourceIdByRoleId" resultType="java.lang.Integer" parameterType="java.util.Map">
        select sres.id
        from t_resource sres, t_role_resource srr
        where sres.id = srr.resource_id
        <if test="null != roleId">
        and srr.role_id = #{roleId,jdbcType=INTEGER}
        </if>
        <if test="null != level">
        and sres.level= #{level,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryRoleList" parameterType="java.util.Map"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_role
        where is_active=1
        <if test="null != roleName">
            and role_name like concat(concat('%',#{roleName}),'%')
        </if>
    </select>

    <delete id="deleteRoleResource" parameterType="java.util.Map" >
        delete from t_role_resource where role_id = #{roleId}
    </delete>

    <insert id="addRoleResource" parameterType="com.travel.system.entity.RoleResource" useGeneratedKeys="true" keyProperty="id" >
            INSERT into t_role_resource
            (
            role_id,
            resource_id
            )
            VALUES
            (
            #{roleId},
            #{resourceId}
            )
            ON DUPLICATE KEY UPDATE
            role_id = #{roleId},
            resource_id = #{resourceId}
    </insert>

    <insert id="batchAddRoleResource" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="rr">
            INSERT into t_role_resource (role_id, resource_id) VALUES
            (#{rr.roleId}, #{rr.resourceId})
            ON DUPLICATE KEY UPDATE
            role_id = #{rr.roleId},
            resource_id = #{rr.resourceId}
        </foreach>
    </insert>
    
    <select id="getAllLevelResourceIdByThirdId" parameterType="java.util.Map" resultType="java.lang.Integer">
        select id as resourceId  from t_resource where id in(${thirdResourceIds})
        UNION
        select id as resourceId  from t_resource where id in(select pid from t_resource where id in(${thirdResourceIds}))
        UNION
        select id as resourceId  from t_resource where id in(select pid from t_resource where id in(select pid from t_resource where id in(${thirdResourceIds})))
    </select>
</mapper>