<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
<div id="app">
    <!--实体提取-->
    <div class="news-search content-box">
        <p class="label">输入一段您想提取的文字：</p>
        <div class="search-participle">
            <div class="participle-top">
                <textarea v-model="entityValue" style="resize: none" maxlength="500"></textarea>
                <p class="placeholder">最多输入500字</p>
            </div>
            <div class="participle-mid">
                <button @click="entityExtract" v-show="loadingShow_6">提取</button>
                <button class="btn-icon" v-show="!loadingShow_6" disabled="disabled"></button>

            </div>
            <div class="participle-bottom keyword-extract">
                <ul class="clearfix">
                    <li v-for="(list, index) in extractData.persons">
                        <div>{{list + "(人物)"}}</div>
                    </li>
                    <li v-for="(list, index) in extractData.institutions">
                        <div>{{list + "(机构)"}}</div>
                    </li>
                    <li v-for="(list, index) in extractData.places">
                        <div>{{list + "(地点)"}}</div>
                    </li>
                    <li v-for="(list, index) in extractData.nounKeywords">
                        <div>{{list + "(名词)"}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/demo.js"></script>
<script type="text/javascript">

app.entityExtract();

</script>
</body>
</html>