.main {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
  margin: 126px auto 66px;
  width: 900px;
  padding: 0 50px;
}
.main h1 {
  font-size: 24px;
  color: #111111;
  line-height: 33px;
  padding: 30px 0 26px;
  text-align: center;
}
.help1 ul li {
  padding-bottom: 60px;
}
.help1 ul li h5 {
  font-size: 16px;
  color: #111111;
  line-height: 22px;
  padding-bottom: 10px;
}
.help1 ul li p {
  font-size: 14px;
  color: #555555;
  line-height: 24px;
}
.help1 ul li .btn {
  display: block;
  background: #477EF8;
  border-radius: 2px;
  width: 100px;
  height: 36px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 36px;
  text-align: center;
  margin-top: 10px;
}
.help1 ul li .img {
  padding-top: 34px;
}
.help1 ul li .img img {
  width: 100%;
}
.help2 .text {
  padding-bottom: 40px;
}
.help2 .text h3 {
  font-size: 16px;
  color: #000000;
  line-height: 60px;
  font-weight: bolder;
}
.help2 .text p {
  font-size: 14px;
  color: #111;
  line-height: 60px;
}
.help3 .text {
  padding-bottom: 60px;
}
.help3 .text h3,
.help3 .text p {
  font-size: 16px;
  color: #555555;
  line-height: 24px;
}
.help3 .text h3 {
  color: #000000;
  margin: 24px 0;
}
.help4 {
  padding: 0 100px;
  width: 800px;
}
.help4 * {
  transition: all 0s;
}
.help4 h1 {
  padding: 40px 0 30px;
  border-bottom: 1px solid #cccccc;
}
.help4 .text {
  border-bottom: 1px solid #cccccc;
  padding: 40px 30px;
}
.help4 .text .left {
  padding-top: 25px;
  width: 370px;
}
.help4 .text .left h2 {
  font-size: 18px;
  color: #555555;
  line-height: 24px;
  padding-bottom: 15px;
  font-weight: bolder;
}
.help4 .text .left h3 {
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bolder;
}
.help4 .text .left p {
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  line-height: 24px;
  padding-bottom: 20px;
}
.help4 .text .right {
  width: 333px;
  height: 250px;
  overflow: hidden;
}
.help4 .text .right img {
  width: 100%;
}
.help4 .erweima {
  padding: 50px 0;
  text-align: center ;
}
.help4 .erweima img {
  width: 160px;
}
.help4 .BMap_Marker {
  transform: scale(2);
}
