body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif;
  transition: all 0.3s;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
a:hover {
  color: #067FFC;
}
img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}
ol,
ul,
li,
button {
  list-style: none;
  border: none;
}
input,
button,
textarea {
  outline: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
html,
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  position: relative;
}
.inner {
  width: 1000px;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 99999;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}
.header .logo {
  float: left;
  display: block;
  height: 26px;
  padding-top: 22px;
}
.header .right {
  font-size: 14px;
  color: #067FFC;
  line-height: 70px;
}
.main {
  min-height: 100%;
  position: relative;
  background: url("../images/login-bg.jpg") no-repeat center;
  background-size: cover;
}
.model-content {
  display: inline-block;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  background-color: #fff;
}
#login .model-content {
  margin-top: -160px;
}
#register .model-content {
  margin-top: -230px;
}
#use .model-content {
  min-height: 516px;
  margin-top: -258px;
}
#apply_success .model-content {
  margin-top: -100px;
  min-height: 200px;
}
.model-header {
  width: 340px;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ddd;
}
.model-header h3 {
  font-size: 18px;
  color: #111111;
  text-align: center;
  font-weight: bolder;
}
.model-header span {
  float: right;
  display: block;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
}
.model-body {
  width: 340px;
  padding: 30px 30px 20px;
}
.model-body .form-row {
  margin-bottom: 12px;
}
.model-body .form-row.faild p {
  font-size: 12px;
}
.model-body .form-row input {
  width: 328px;
  height: 34px;
  padding-left: 10px;
  background-color: #FFFFFF;
  border: 1px solid #B1B1B1;
  border-radius: 2px;
}
.model-body .form-row span {
  color: red;
  line-height: 22px;
  font-size: 12px;
  display: none;
}
.model-body .form-row .register_img_check_code {
  display: block;
  width: 82px;
  height: 34px;
  border: 1px solid #B1B1B1;
  float: right;
  cursor: pointer;
  margin-left: 10px;
}
.model-body .form-row .register_tel_check_code {
  width: 84px;
  height: 36px;
  font-size: 12px;
  color: #477EF8;
  border: 1px solid #477EF8;
  border-radius: 2px;
  background-color: #ffffff;
  float: right;
  margin-left: 10px;
}
.model-body .form-row .register_tel_check_code[disabled=disabled] {
  background-color: #CCCCCC;
  border-color: #cccccc;
  cursor: not-allowed;
  color: #ffffff;
}
#register_img_check_code,
#register_tel_check_code {
  width: 232px;
  float: left;
}
.model-body .btn {
  padding-top: 8px;
}
.model-body .form-row button {
  background: #477EF8;
  border-radius: 2px;
  width: 340px;
  height: 36px;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}
.model-body .form-row .btn_register[disabled=disabled] {
  background-color: #CCCCCC;
  cursor: not-allowed;
}
.model-body .checkbox {
  text-align: center;
  font-size: 12px;
  color: #555555;
  line-height: 20px;
}
.model-body .form-row input[type=checkbox] {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  background-color: #477EF8;
  border-radius: 2px;
  margin-top: 5px;
  margin-right: 4px;
  margin-left: 95px;
}
.model-body .checkbox p {
  float: left;
}
.model-body .checkbox p.register_error {
  width: 100%;
  text-align: center;
  line-height: 22px;
  color: red;
  display: none;
}
.model-body .checkbox p a {
  color: #477EF8;
}
.model-body .checkbox span {
  display: block;
}
.model-body .form-row .fl {
  float: left;
  font-size: 12px;
  color: #555555;
  line-height: 17px;
}
.model-body .form-row .fr {
  float: right;
  font-size: 12px;
  color: #477EF8;
  line-height: 17px;
}
.model-body .form-row textarea {
  width: 308px;
  height: 90px;
  resize: none;
  padding: 15px;
}
#success .model-content {
  height: 300px;
  margin-top: -160px;
}
#success .model-content img {
  width: 49px;
  height: 49px;
  display: block;
  margin: 82px auto 33px;
}
#success .model-content p {
  font-size: 18px;
  color: #111111;
  line-height: 25px;
  text-align: center;
}
#success .model-content p a {
  color: #477ef8;
}
.footer {
  background: #35383B;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #999999;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
