.banner{
    width: 100%;
    position: relative;
}
#swiper-banner{
    width: 100%;
    height: 3.2rem;
    overflow: hidden;
}
.banner .img{
    width: 100%;
    height: 100%;
    background: url("") no-repeat center / cover;
}
.banner .logo{
    position: absolute;
    left: 30px;
    bottom: -15px;
    z-index: 9;
    width: 50px;
    height: 50px;
    background: #ffffff url("") no-repeat center /contain;
    border: 1px solid #dddddd;
}
.banner .num{
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index: 9;
    height: 24px;
    border: 1px solid #dddddd;
    padding:0 10px;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    line-height: 23px;
}
.banner .num.active{
    background-color: red;
    color: #ffffff;
}

.header{
    padding:20px 0 10px;
    margin:0 15px;
    border-bottom: 1px solid #dddddd;
}
.header .top{
    margin-bottom: 10px;
}
.header h3{
    font-size: 16px;
    color: #000;
    line-height: 30px;
    margin-right: 5px;
    float: left;
}
.header .icon{
    float: left;
}
.header .icon span{
    display: inline-block;
    width: 28px;
    height:28px;
    border:1px solid #dddddd;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}
.header .tags span{
    display: inline-block;
    height:20px;
    padding:0 10px;
    border:1px solid #dddddd;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    margin:0 5px 5px 0;
    overflow: hidden;
}


.main{
    padding:20px 16px 80px;
}
.main .title{
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
}
.section{
    padding-bottom: 20px;
}
.section1 .summary{
    position: relative;
}
.section1 .summary p{
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    text-align: justify;
    margin-right: 20px;
}
.section1 .summary>i{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -6px;
    width: 8px;
    height: 8px;
    border-top:2px solid #333333;
    border-right:2px solid #333333;
    transform: rotate(45deg);
}
.section1 .content{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    z-index: 9999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
}
.section1 .content .close{
    float: right;
    margin: 15px 15px 0 0;
}
.section1 .content .text{
    padding:20px 15px;
}
.section1 .content h3{
    font-size: 16px;
    margin-bottom: 15px;
}
.section1 .content p{
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 15px;
}
.section1 .content img,
.section1 .content video{
    max-width: 100%;
}


.section2 .open{
    float: right;
    font-size: 14px;
    color: #ff4900;
    line-height: 24px;
}
.section2 iframe{
    width: 100%;
    height: 12rem;
    border: 1px solid #dddddd;
}

.section3 .videos{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.section3 .videos video{
    width: 90%;
    height: 5rem;
}
.section3 .videos video+video{
    margin-left: 10px;
}

.section4 .books{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.section4 .books .book{
    display: inline-block;
    width: 3.3rem;
    height: 4.4rem;
    border: 1px solid #dddddd;
    background: url("") no-repeat center/contain;
}
.section4 .books .book+.book{
    margin-left: 10px;
}
.section4 .book-iframe{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 999;
    background-color: #ffffff;
}
.section4 .book-iframe .close{
    position: absolute;
    right: 15px;
    top:15px;
}
.section4 .book-iframe iframe{
    border: none;
    width: 100%;
    height: 100%;
}

.section5 .info{
    font-size: 14px;
    line-height: 0.7rem;
    margin-bottom:5px;
}
.section5 .phone{
    float: right;
    display: block;
    height: 1.35rem;
    width: 2rem;
    border-left: 1px solid #dddddd;
    background: url("../images/icon-phone.jpg") no-repeat center;
}
.section5 .map{
    border: 1px solid #dddddd;
    position: relative;
}
.section5 #map{
    height: 6rem;
}
.section5 .map a{
    position: absolute;
    right: 5px;
    top:5px;
    width: 80px;
    height: 22px;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
}


