body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family:  Microsoft Yahei, Hiragino Sans GB, sans-serif, Arial;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

ol,
ul,
li,
button {
    list-style: none;
    border: none;
}
button{
    cursor: pointer;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


a {
    color: inherit;
}

a:hover {
    color: #8e26a6;
}

.inner{
    width: 1200px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}

[v-cloak] {
    display: none;
}
